@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body{
	font-family: 'Zen Antique Soft', serif;
	font-size: 1em;
	font-weight: 400;
}

h1{
	color: rgb(105,105,105)
}

.Botao1 {
	text-decoration: none;
	background-color: gray;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
}
.Botao2 {
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}

.Caixa1{
	Width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

.Caixa2{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}

#Caixa3{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
}

#tabela {
	margin-top: 40px;
	border-collapse:collapse;
}

#tabela th {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color: grey;
	color: #fff;
}

#tabela td {
	border: 4px solid #ddd;
	padding: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	background: white;
	
}

div{
	display: inline-block;
	margin-right: 130px;
}

.BotaoGit {
	text-decoration: none;
	background-color: gray;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.0em;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	padding: 8px;
}

.imagemGit{
	width: 30px;
	height: 30px;
	padding: 9px;
}

.texto{
	font-size: 17px;
}
